<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Suprimento</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Suprimentos</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
    <div class="d-flex">
      <div class="form-inline mr-auto">
        <div class="form-group mb-2">
          <input type="text" class="form-control mr 2" placeholder="Buscar" [(ngModel)]="filtroLista">
        </div>
      </div>
      <div>
        <a class="btn btn-info" [routerLink]="['/estoque/movimentacao']"><i class="fas fa-exchange-alt"></i>&nbsp;&nbsp;Nova Movimentação</a>&nbsp;
        <a class="btn btn-success" [routerLink]="['/estoque/adicionar-novo']"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Novo Item</a>
        <!--<button class="btn btn-success" (click)="novoFornecedor(template)"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Novo Fornecedor</button>-->
      </div>
    </div>
    <table class="table table-hover" style="white-space: nowrap">
      <thead class="thead-dark">
        <tr>
          <th>
            <button (click)="alternarImagem()" class="btn btn-primary">
              <i class="{{mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            </button>
          </th>
          <th>Código</th>
          <th>Part Number</th>
          <th>Serial Number</th>
          <th>Quantidade</th>
          <th>Localização</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="suprimentos && suprimentos.length">
        <tr *ngFor="let suprimento of suprimentosFiltrados">
          <td><img *ngIf="mostrarImagem" src="{{ imagens }}{{ suprimento.imagem }}" style="width: 70px; height: 100px"></td>
          <td>{{ suprimento.codigo }}</td>
          <td>{{ suprimento.partNumber }}</td>
          <td>{{ suprimento.serialNumber }}</td>
          <td>{{ suprimento.quantidade }}</td>
          <td>{{ suprimento.localizacao }}</td>
          
          <td class="text-right">
            <a class="btn btn-warning" [routerLink]="['/suprimentos/detalhes',suprimento.id]">
              <span class="fa fa-search"></span>
            </a>&nbsp;
            <a class="btn btn-info" [routerLink]="['/suprimentos/editar',suprimento.id]">
              <span class="fa fa-pencil-alt"></span>
            </a>&nbsp;
            <a class="btn btn-danger" [routerLink]="['/suprimentos/excluir',suprimento.id]">
              <span class="fa fa-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!suprimentos">
        <tr>
          <td colspan="7" class="text-center">
            <h4>
              Nenhum item encontrado!
            </h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
<!-- /.content -->