<div class="table-responsive">
    <table class="table table-hover" style="white-space: nowrap">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="alunosTurmas && alunosTurmas.length">
            <tr *ngFor="let aluno of alunosTurmas">
                <td>{{ aluno.nomeAluno }}</td>
                
                <td class="text-right">
                    <a class="btn btn-danger btn-sm" [routerLink]="['/alunos/detalhes',aluno.alunoId]">
                        <span class="fa fa-trash"></span>
                    </a>&nbsp;
                    <a class="btn btn-warning btn-sm" [routerLink]="['/alunos/detalhes',aluno.alunoId]">
                        <span class="fa fa-search"></span>
                    </a>&nbsp;
                    <a class="btn btn-info btn-sm" [routerLink]="['/alunos/editar',aluno.alunoId]">
                        <span class="fa fa-pencil-alt"></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="!alunosTurmas">
            <tr>
                <td colspan="7" class="text-center">
                    <h4>
                        Nenhum item encontrado!
                    </h4>
                </td>
            </tr>
        </tfoot>
    </table>
</div>