<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Ofícios Emitidos</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
    <div class="d-flex">
      <div class="form-inline mr-auto">
        <div class="form-group mb-2">
          <input type="text" class="form-control mr 2" placeholder="Buscar" [(ngModel)]="filtroLista">
        </div>
      </div>
      <div>
        <a class="btn btn-primary" [routerLink]="['/']"><i class="fa fa-home"></i></a>&nbsp;&nbsp;
        <a class="btn btn-success" [routerLink]="['/oficios-emitidos/adicionar-novo']"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Novo Manual</a>&nbsp;&nbsp;
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-hover" style="white-space: nowrap">
        <thead class="thead-dark">
          <tr>
            <th>Numeração</th>
            <th>Data</th>
            <th>Destinatário</th>
            <th>Assunto</th>
            <th>Responsável</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="oficiosEmitidos && oficiosEmitidos.length">
          <tr *ngFor="let oficioEmitido of oficiosEmitidosFiltrados">
            <td>{{ oficioEmitido.numeracao }}</td>
            <td>{{ oficioEmitido.data | date: 'dd/MM/yyyy' }}</td>
            <td>{{ oficioEmitido.destinatario }}</td>
            <td>{{ oficioEmitido.assunto }}</td>
            <td>{{ oficioEmitido.responsavel }}</td>
            
            <td class="text-right">
              <a class="btn btn-primary btn-sm" (click)="gerarPdf(oficioEmitido)">
                <span class="fa fa-download"></span>
              </a>&nbsp;
              <a class="btn btn-warning btn-sm" [routerLink]="['/oficios-emitidos/detalhes',oficioEmitido.id]">
                <span class="fa fa-search"></span>
              </a>&nbsp;
              <a class="btn btn-info btn-sm" [routerLink]="['/oficios-emitidos/editar',oficioEmitido.id]">
                <span class="fa fa-pencil-alt"></span>
              </a>
              <!-- <a class="btn btn-danger" [routerLink]="['/oficios-emitidos/excluir',oficioEmitido.id]">
                <span class="fa fa-trash"></span>
              </a> -->
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!oficiosEmitidos">
          <tr>
            <td colspan="7" class="text-center">
              <h4>
                Nenhum item encontrado!
              </h4>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
<!-- /.content -->