<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Alunos</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
    <div class="d-flex">
      <div class="form-inline mr-auto">
        <div class="form-group mb-2">
          <input type="text" class="form-control mr 2" placeholder="Buscar" [(ngModel)]="filtroLista">
        </div>
      </div>
      <div>
        <a class="btn btn-primary" [routerLink]="['/']"><i class="fa fa-home"></i></a>&nbsp;&nbsp;
        <a class="btn btn-info" [routerLink]="['/voos-instrucao/adicionar-novo']"><i class="fas fa-helicopter"></i>&nbsp;&nbsp;Lançar Instrução</a>&nbsp;&nbsp;
        <a class="btn btn-success" [routerLink]="['/alunos/adicionar-novo']"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Novo Aluno</a>
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-hover" style="white-space: nowrap">
        <thead class="thead-dark">
          <tr>
            <th>
              <button (click)="alternarImagem()" class="btn btn-primary">
                <i class="{{mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
              </button>
            </th>
            <th>Nome</th>
            <th>Documento</th>
            <th>Total Voado</th>
            <th>Saldo</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="alunos && alunos.length">
          <tr *ngFor="let aluno of alunosFiltrados">
            <td><img *ngIf="mostrarImagem" src="{{ imagens }}{{ aluno.imagem }}" style="width: 70px; height: 100px"></td>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.tipoPessoa === 1 ? (aluno.documento | cpf) : (aluno.documento | cnpj ) }}</td>
            <td>{{ aluno.totalVoado }}</td>
            <td>{{ aluno.saldo }}</td>
            <td>{{ aluno.email }}</td>
            <td>{{ aluno.telefone | telefone }}</td>
            
            <td class="text-right">
              <!-- <a class="btn btn-success btn-sm" [routerLink]="['/alunos/adicionar-saldo',aluno.id]">
                <span class="fas fa-dollar-sign"></span>
              </a>&nbsp;
              <a class="btn btn-danger btn-sm" [routerLink]="['/alunos/remover-saldo',aluno.id]">
                <span class="fas fa-dollar-sign"></span>
              </a>&nbsp; -->
              <a class="btn btn-dark btn-sm" [routerLink]="['/alunos/atualizar-saldo',aluno.id]">
                <span class="fa fa-dollar-sign"></span><span class="fa fa-dollar-sign"></span>
              </a>&nbsp;
              <a class="btn btn-warning btn-sm" [routerLink]="['/alunos/detalhes',aluno.id]">
                <span class="fa fa-search"></span>
              </a>&nbsp;
              <a class="btn btn-info btn-sm" [routerLink]="['/alunos/editar',aluno.id]">
                <span class="fa fa-pencil-alt"></span>
              </a>
              <!-- <a class="btn btn-danger" [routerLink]="['/alunos/excluir',aluno.id]">
                <span class="fa fa-trash"></span>
              </a> -->
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!alunos">
          <tr>
            <td colspan="7" class="text-center">
              <h4>
                Nenhum item encontrado!
              </h4>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
<!-- /.content -->