<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Excluir Tripulante</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Tripulantes</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
    <h4>Tem certeza que deseja excluir: {{ tripulante.nome }} ?</h4>
    <hr />
    <div class="alert alert-danger" *ngIf="errors.length > 0">
      <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>
    
    <dl class="row">
      <dt class="col-sm-2">
        <label class="control-label">Nome</label>
      </dt>
      <dd class="col-sm-10">
        {{ tripulante.nome }}
      </dd>
      
      <dt class="col-sm-2">
        <label class="control-label">Tipo de Pessoa</label>
      </dt>
      <dd class="col-sm-10" *ngIf="tripulante.tipoPessoa == 1">Física</dd>
      <dd class="col-sm-10" *ngIf="tripulante.tipoPessoa == 2">Jurídica</dd>
      
      <dt class="col-sm-2">
        <label class="control-label">Documento</label>
      </dt>
      <dd class="col-sm-10">
        {{tripulante.tipoPessoa === 1 ? (tripulante.documento | cpf) : (tripulante.documento | cnpj ) }}
      </dd>
      
      <dt class="col-sm-2">
        <label class="control-label">Sexo</label>
      </dt>
      <dd class="col-sm-10" *ngIf="tripulante.sexo == 1">Masculino</dd>
      <dd class="col-sm-10" *ngIf="tripulante.sexo == 2">Feminino</dd>
      <dd class="col-sm-10" *ngIf="tripulante.sexo == 3">Outro</dd>
      
      <dt class="col-sm-2">
        <label class="control-label">Estado Civil</label>
      </dt>
      <dd class="col-sm-10">
        {{ tripulante.estadoCivil }}
      </dd>
      
      <dt class="col-sm-2">
        <label class="control-label">Ativo</label>
      </dt>
      <dd class="col-sm-10" *ngIf="tripulante.ativo == true">Sim</dd>
      <dd class="col-sm-10" *ngIf="tripulante.ativo == false">Não</dd>
      
      <dt class="col-sm-2">
        <label class="control-label">Telefone</label>
      </dt>
      <dd class="col-sm-10">
        {{ tripulante.telefone | telefone }}
      </dd>
      
      <dt class="col-sm-2">
        <label class="control-label">E-mail</label>
      </dt>
      <dd class="col-sm-10">
        {{ tripulante.email }}
      </dd>
    </dl>
    
    <div>
      <a class="btn btn-danger" href="javascript:void(0)" (click)="excluirTripulante()">Excluir</a>&nbsp;
      <a class="btn btn-info" [routerLink]="['/tripulantes/listar-todos']">Voltar</a>
    </div>
  </div>
</section>
<!-- /.content -->