<div class="container main-container">
  <h4>Detalhes: {{ estoque.nomenclatura }} </h4>
  <br>

  <div class="row">
      <div class="col-md-4">
          <img src="{{ imagens }}{{ estoque.imagem }}" style="width: 300px; height: 428px">
      </div>
      <div class="col-md-6">
          <dl>
              <dt>
                  Ítem
              </dt>
              <dd>
                  {{ estoque.item }}
              </dd>
              <dt>
                  Part Number
              </dt>
              <dd>
                  {{ estoque.partNumber }}
              </dd>
              <dt>
                  Nomenclatura
              </dt>
              <dd>
                  {{ estoque.nomenclatura }}
              </dd>
              <dt>
                  Quantidade
              </dt>
              <dd>
                  {{ estoque.quantidade }}
              </dd>
              <dt>
                  Localização
              </dt>
              <dd>
                {{ estoque.localizacao }}
              </dd>
              <dt>
                Part Number Alternativo
              </dt>
              <dd>
                {{ estoque.partNumberAlternativo }}
              </dd>
              <dt>
                Aplicação
              </dt>
              <dd>
                {{ estoque.aplicacao }}
              </dd>
              <dt>
                Capítulo
              </dt>
              <dd>
                {{ estoque.capitulo }}
              </dd>
              <dt>
                Serial Number
              </dt>
              <dd>
                {{ estoque.serialNumber }}
              </dd>
              <dt>
                DOC
              </dt>
              <dd>
                {{ estoque.doc }}
              </dd>
              <dt>
                Status
              </dt>
              <dd>
                {{ estoque.status }}
              </dd>
          </dl>

          <div>
              <a class="btn btn-warning" [routerLink]="['/estoque/editar',estoque.id]">Editar</a>&nbsp;
              <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
          </div>
      </div>
  </div>

</div>