<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid" style="padding-left: 20px;">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Adicionar Tripulante</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Tripulantes</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
        
        <div class="row">
            <div class="col-md-10">
                <form enctype="multipart/form-data" (ngSubmit)="adicionarTripulante()" [formGroup]="tripulanteForm">
                    
                    <div class="alert alert-danger" *ngIf="errors.length > 0">
                        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                        <ul>
                            <li *ngFor="let error of errors">{{ error }}</li>
                        </ul>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Nome</label>
                            <div>
                                <input class="form-control" id="nome" type="text" placeholder="(requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                                <span class="text-danger" *ngIf="displayMessage.nome">
                                    <p [innerHTML]="displayMessage.nome"></p>
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">Tipo de Pessoa</label>
                            <div>
                                <select class="form-control" id="tipoPessoa" formControlName="tipoPessoa" [ngClass]="{ 'is-invalid': displayMessage.tipoPessoa }">
                                    <option value="1">Pessoa Física</option>
                                    <option value="2">Pessoa Jurídica</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">Documento</label>
                            <div>
                                <input class="form-control" id="documento" type="text" placeholder="{{ textoDocumento }}" formControlName="documento" [textMask]="tipoPessoaForm().value === '1' ? {mask: MASKS.cpf.textMask} : {mask: MASKS.cnpj.textMask}" [ngClass]="{'is-invalid': displayMessage.documento }"
                                />
                                <span class="text-danger" *ngIf="displayMessage.documento">
                                    <p [innerHTML]="displayMessage.documento"></p>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Sexo</label>
                            <div>
                                <select class="form-control" id="sexo" formControlName="sexo" [ngClass]="{ 'is-invalid': displayMessage.sexo }">
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                    <option value="3">Outro</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label class="control-label">Estado Civil</label>
                            <div>
                                <input class="form-control" id="estadoCivil" type="text" placeholder="(opcional)" formControlName="estadoCivil" [ngClass]="{'is-invalid': displayMessage.estadoCivil }" />
                                <span class="text-danger" *ngIf="displayMessage.estadoCivil">
                                    <p [innerHTML]="displayMessage.estadoCivil"></p>
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label class="control-label">Ativo</label>
                            <div>
                                <select class="form-control" id="ativo" formControlName="ativo" [ngClass]="{ 'is-invalid': displayMessage.ativo }">
                                    <option value="true">Sim</option>
                                    <option value="false">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Telefone</label>
                            <div>
                                <input class="form-control" id="telefone" type="text" placeholder="(opcional)" formControlName="telefone" [ngClass]="{'is-invalid': displayMessage.telefone }" />
                                <span class="text-danger" *ngIf="displayMessage.telefone">
                                    <p [innerHTML]="displayMessage.telefone"></p>
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-8">
                            <label class="control-label">E-mail</label>
                            <div>
                                <input class="form-control" id="email" type="email" placeholder="(opcional)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                                <span class="text-danger" *ngIf="displayMessage.email">
                                    <p [innerHTML]="displayMessage.email"></p>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">CANAC</label>
                            <div>
                                <input class="form-control" id="canac" type="text" placeholder="(opcional)" formControlName="canac" [ngClass]="{'is-invalid': displayMessage.canac }"/>
                                <span class="text-danger" *ngIf="displayMessage.canac">
                                    <p [innerHTML]="displayMessage.canac"></p>
                                </span>
                            </div>
                        </div> 
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">Data de Nascimento</label>
                            <div>
                                <input class="form-control" id="dataNascimento" type="date" formControlName="dataNascimento" />
                            </div>
                        </div>   
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">Data de Admissão</label>
                            <div>
                                <input class="form-control" id="dataAdmissao" type="date" formControlName="dataAdmissao" [ngClass]="{'is-invalid': displayMessage.dataAdmissao }" />
                                <span class="text-danger" *ngIf="displayMessage.dataAdmissao">
                                    <p [innerHTML]="displayMessage.dataAdmissao"></p>
                                </span>
                            </div>
                        </div> 
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">Data de Demissão</label>
                            <div>
                                <input class="form-control" id="dataDemissao" type="date" formControlName="dataDemissao" />
                            </div>
                        </div> 
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Salário</label>
                            <div>
                                <input class="form-control" id="salario" type="text" placeholder="(opcional)" formControlName="salario" />
                            </div>
                        </div> 
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">Tipo de Vínculo</label>
                            <div>
                                <select class="form-control" id="tipoVinculo" formControlName="tipoVinculo" [ngClass]="{ 'is-invalid': displayMessage.tipoVinculo }">
                                    <option value="1">MEI</option>
                                    <option value="2">CTPS</option>
                                </select>
                                <span class="text-danger" *ngIf="displayMessage.tipoVinculo">
                                    <p [innerHTML]="displayMessage.tipoVinculo"></p>
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">RG</label>
                            <div>
                                <input class="form-control" id="rg" type="text" placeholder="(requerido)" formControlName="rg" [ngClass]="{ 'is-invalid': displayMessage.rg }" />
                                <span class="text-danger" *ngIf="displayMessage.rg">
                                    <p [innerHTML]="displayMessage.rg"></p>
                                </span>
                            </div>
                        </div> 
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">Órgão Emissor</label>
                            <div>
                                <input class="form-control" id="orgaoEmissor" type="text" placeholder="(opcional)" formControlName="orgaoEmissor" [ngClass]="{ 'is-invalid': displayMessage.orgaoEmissor }" />
                                <span class="text-danger" *ngIf="displayMessage.orgaoEmissor">
                                    <p [innerHTML]="displayMessage.orgaoEmissor"></p>
                                </span>
                            </div>
                        </div> 
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Título de Eleitor</label>
                            <div>
                                <input class="form-control" id="tituloEleitor" type="text" placeholder="(opcional)" formControlName="tituloEleitor" [ngClass]="{ 'is-invalid': displayMessage.tituloEleitor }" />
                                <span class="text-danger" *ngIf="displayMessage.tituloEleitor">
                                    <p [innerHTML]="displayMessage.tituloEleitor"></p>
                                </span>
                            </div>
                        </div>   
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">PIS</label>
                            <div>
                                <input class="form-control" id="numeroPis" type="text" placeholder="(opcional)" formControlName="numeroPis" [ngClass]="{ 'is-invalid': displayMessage.numeroPis }" />
                                <span class="text-danger" *ngIf="displayMessage.numeroPis">
                                    <p [innerHTML]="displayMessage.numeroPis"></p>
                                </span>
                            </div>
                        </div> 
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">CTPS</label>
                            <div>
                                <input class="form-control" id="numeroCtps" type="text" placeholder="(opcional)" formControlName="numeroCtps" [ngClass]="{ 'is-invalid': displayMessage.numeroCtps }" />
                                <span class="text-danger" *ngIf="displayMessage.numeroCtps">
                                    <p [innerHTML]="displayMessage.numeroCtps"></p>
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3">
                            <label class="control-label">CNH</label>
                            <div>
                                <input class="form-control" id="numeroCnh" type="text" placeholder="(opcional)" formControlName="numeroCnh" [ngClass]="{ 'is-invalid': displayMessage.numeroCnh }" />
                                <span class="text-danger" *ngIf="displayMessage.numeroCnh">
                                    <p [innerHTML]="displayMessage.numeroCnh"></p>
                                </span>
                            </div>
                        </div> 
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Foto</label>
                        
                        <div class="custom-file">
                            <input type="file" accept="image/jpeg,image/png" class="custom-file-input" id="imagem" formControlName="imagem" (change)="fileChangeEvent($event)" [ngClass]="{'is-invalid': displayMessage.imagem }">
                            <label data-browse="Procurar" style="width: 400px" class="custom-file-label"></label>
                            
                            <span *ngIf='imagemNome'><br>{{ imagemNome }} <br></span>
                            
                            <span class="text-danger" *ngIf="displayMessage.imagem">
                                <p [innerHTML]="displayMessage.imagem"></p>
                            </span>
                        </div>
                        
                        <div *ngIf='imagemNome' class="row">
                            <div class="col col-md-6">
                                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="3 / 4" [resizeToWidth]="256" [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false"
                                [canvasRotation]="canvasRotation" [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
                                (loadImageFailed)="loadImageFailed()"></image-cropper>
                            </div>
                            <div class="col col-md-6">
                                <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" [disabled]="!tripulanteForm.valid" value="Cadastrar" class="btn btn-primary">&nbsp;
                        <a class="btn btn-info" href="/tripulantes/listar-todos">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>