<div class="container main-container">
    
    <h3>Novo Tripulante </h3>
    
    <hr>
    <div class="row">
        <div class="col-md-10">
            <form enctype="multipart/form-data" (ngSubmit)="adicionarTripulante()" [formGroup]="tripulanteForm">
                
                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Nome</label>
                    <div>
                        <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                        <span class="text-danger" *ngIf="displayMessage.nome">
                            <p [innerHTML]="displayMessage.nome"></p>
                        </span>
                    </div>
                </div>                
                <div class="form-group col-md-4">
                    <label class="control-label">CPF</label>
                    <div>
                        <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}" [ngClass]="{'is-invalid': displayMessage.cpf }"
                        />
                        <span class="text-danger" *ngIf="displayMessage.cpf">
                            <p [innerHTML]="displayMessage.cpf"></p>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">E-mail</label>
                    <div>
                        <input class="form-control" id="email" type="text" placeholder="E-MAIL (requerido)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }"/>
                        <span class="text-danger" *ngIf="displayMessage.email">
                            <p [innerHTML]="displayMessage.email"></p>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Data de Nascimento</label>
                    <div>
                        <input class="form-control" id="dataNascimento" type="date" formControlName="dataNascimento" />
                    </div>
                </div>                
                <div class="form-group col-md-4">
                    <label class="control-label">Data de Admissão</label>
                    <div>
                        <input class="form-control" id="dataAdmissao" type="date" formControlName="dataAdmissao" />
                    </div>
                </div> 
                <div class="form-group col-md-4">
                    <label class="control-label">Sexo</label>
                    <div>
                        <input class="form-control" id="sexo" type="text" formControlName="sexo" />
                    </div>
                </div> 
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Cargo</label>
                    <div>
                        <input class="form-control" id="cargo" type="text" placeholder="CARGO (requerido)" formControlName="cargo" [ngClass]="{'is-invalid': displayMessage.cargo }"/>
                        <span class="text-danger" *ngIf="displayMessage.cargo">
                            <p [innerHTML]="displayMessage.cargo"></p>
                        </span>
                    </div>
                </div>               
                <div class="form-group col-md-4">
                    <label class="control-label">Estado Civil</label>
                    <div>
                        <input class="form-control" id="estadoCivil" type="text" formControlName="estadoCivil" />
                    </div>
                </div> 
                <div class="form-group col-md-4">
                    <label class="control-label">Salário</label>
                    <div>
                        <input class="form-control" id="salario" type="text" formControlName="salario" />
                    </div>
                </div> 
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Situação</label>
                    <div>
                        <input class="form-control" id="situacao" type="text" formControlName="situacao" />
                    </div>
                </div>               
                <div class="form-group col-md-4">
                    <label class="control-label">RG</label>
                    <div>
                        <input class="form-control" id="rg" type="text" formControlName="rg" />
                    </div>
                </div> 
                <div class="form-group col-md-4">
                    <label class="control-label">Órgão Emissor</label>
                    <div>
                        <input class="form-control" id="orgaoEmissor" type="text" formControlName="orgaoEmissor" />
                    </div>
                </div> 
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Título de Eleitor</label>
                    <div>
                        <input class="form-control" id="tituloEleitor" type="text" formControlName="tituloEleitor" />
                    </div>
                </div>               
                <div class="form-group col-md-3">
                    <label class="control-label">PIS</label>
                    <div>
                        <input class="form-control" id="numeroPis" type="text" formControlName="numeroPis" />
                    </div>
                </div> 
                <div class="form-group col-md-3">
                    <label class="control-label">CTPS</label>
                    <div>
                        <input class="form-control" id="numeroCtps" type="text" formControlName="numeroCtps" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">CNH</label>
                    <div>
                        <input class="form-control" id="numeroCnh" type="text" formControlName="numeroCnh" />
                    </div>
                </div> 
            </div>

                <div class="form-group">
                    <label class="control-label">Foto</label>
                    
                    <div class="custom-file">
                        <input type="file" accept="image/jpeg,image/png" class="custom-file-input" id="imagem" formControlName="imagem" (change)="fileChangeEvent($event)" [ngClass]="{'is-invalid': displayMessage.imagem }">
                        <label data-browse="Procurar" style="width: 400px" class="custom-file-label"></label>
                        
                        <span *ngIf='imagemNome'><br>{{ imagemNome }} <br></span>
                        
                        <span class="text-danger" *ngIf="displayMessage.imagem">
                            <p [innerHTML]="displayMessage.imagem"></p>
                        </span>
                    </div>
                    
                    <div *ngIf='imagemNome' class="row">
                        <div class="col col-md-6">
                            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="3 / 4" [resizeToWidth]="256" [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false"
                            [canvasRotation]="canvasRotation" [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
                            (loadImageFailed)="loadImageFailed()"></image-cropper>
                        </div>
                        <div class="col col-md-6">
                            <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="submit" [disabled]="!tripulanteForm.valid" value="Cadastrar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-info" href="/tripulantes/listar-todos">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>