<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
  <div class="p-3">
    <h5>Controle do Usuário</h5>
    <a href="javascript:void(0)">Alterar Dados Cadastrais <span class="fas fa-user"></span></a><br>
    <a href="javascript:void(0)">Mudar de Plano <span class="fas fa-exchange-alt"></span></a><br>
    <a href="javascript:void(0)">Ajuda <span class="fas fa-question"></span></a><br>
    <a (click)="logout()" style="cursor: pointer;">Sair <span class="fas fa-sign-out-alt"></span></a>
  </div>
</aside>
<!-- /.control-sidebar -->