<!-- Main Sidebar Container -->
<aside *ngIf="usuarioLogado()" class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link text-center">
    <span class="brand-text font-weight-light" style="text-align: center">Aviation Management</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a *ngIf="usuarioLogado()" href="javascript:void(0)"> {{email}} </a>
        <!---->
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Home
            </p>
          </a>
        </li>

        <!-- FORNECEDORES MENU-->        
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
              Fornecedores
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/fornecedores/listar-todos" class="nav-link">
                <p>Lista de Fornecedores</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/fornecedores/adicionar-novo" class="nav-link">
                <p>Novo Fornecedor</p>
              </a>
            </li>
          </ul>
        </li>
        
        <!-- PRODUTOS MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-shopping-basket"></i>
            <p>
              Produtos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/produtos/listar-todos" class="nav-link">
                <p>Lista de Produtos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Novo Produto</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- OPERAÇÕES MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fab fa-hire-a-helper"></i>
            <p>
              Operações
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/diarios-bordo/listar-todos" class="nav-link">
                <p>Diário de Bordo</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/diarios-bordo/adicionar-novo" class="nav-link">
                <p>Novo Diário</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/layout/boxed.html" class="nav-link">
                <p>Papeleta</p>
              </a>
            </li>
          </ul>
        </li>
        
        <!-- COORDENAÇÃO MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-location-arrow"></i>
            <p>
              Coordenação de Voo
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/voos-agendados/listar-todos" class="nav-link">
                <p>Voos Agendados</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Frequências</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>SpiderTracks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Fichas Operacionais</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Manifesto de P&B</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Manifesto de Bagagem</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Lista de Passageiros</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Supervisão de Voo</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- AERONAVES MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-helicopter"></i>
            <p>
              Aeronaves
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/aeronaves/listar-todos" class="nav-link">
                <p>Lista de Aeronaves</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/aeronaves/adicionar-novo" class="nav-link">
                <p>Nova Aeronave</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/aeronaves-abastecimentos/listar-todos" class="nav-link">
                <p>Lista de Abastecimentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/aeronaves-abastecimentos/adicionar-novo" class="nav-link">
                <p>Novo Abastecimento</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/aeronaves-tarifas/listar-todos" class="nav-link">
                <p>Lista de Tarifas</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/aeronaves-tarifas/adicionar-novo" class="nav-link">
                <p>Nova Tarifa</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- MANUTENÇÃO MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
              Controle de Manutenção
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/ordem-servico/listar-todos" class="nav-link">
                <p>Lista de Ordens de Serviço</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/ordem-servico/adicionar-novo" class="nav-link">
                <p>Nova Ordem de Serviço</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/servicos/listar-todos" class="nav-link">
                <p>Lista de Serviços</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/servicos/adicionar-novo" class="nav-link">
                <p>Novo Serviço</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/mecanicos/listar-todos" class="nav-link">
                <p>Lista de Mecânicos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/mecanicos/adicionar-novo" class="nav-link">
                <p>Novo Mecânicos</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- TRIPULAÇÃO MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
              Tripulantes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/tripulantes/listar-todos" class="nav-link">
                <p>Lista de Tripulantes</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/tripulantes/adicionar-novo" class="nav-link">
                <p>Novo Tripulante</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- BIBLIOTECA MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Biblioteca Técnica
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/manuais-empresa/listar-todos" class="nav-link">
                <p>Manuais da Empresa</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/manuais-voo/listar-todos" class="nav-link">
                <p>Manuais de Voo</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/legislacoes/listar-todos" class="nav-link">
                <p>Legislação</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/tripulantes/adicionar-novo" class="nav-link">
                <p>Modelos</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- ESCOLA MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
              Escola
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/alunos/listar-todos" class="nav-link">
                <p>Lista de Alunos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/alunos/adicionar-novo" class="nav-link">
                <p>Adicionar Alunos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/cursos/listar-todos" class="nav-link">
                <p>Lista de Cursos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/cursos/adicionar-novo" class="nav-link">
                <p>Adicionar Curso</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/turmas/listar-todos" class="nav-link">
                <p>Lista de Turmas</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/turmas/adicionar-novo" class="nav-link">
                <p>Adicionar Turma</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/instrutores/listar-todos" class="nav-link">
                <p>Lista de Instrutores</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/instrutores/adicionar-novo" class="nav-link">
                <p>Adicionar Instrutor</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/voos-instrucao/listar-todos" class="nav-link">
                <p>Lista de Instruções</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/voos-instrucao/adicionar-novo" class="nav-link">
                <p>Adicionar Instrução</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- CLIENTES MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
              Clientes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/clientes/listar-todos" class="nav-link">
                <p>Lista de Clientes</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/clientes/adicionar-novo" class="nav-link">
                <p>Novo Cliente</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- FINANCEIRO MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-dollar-sign"></i>
            <p>
              Financeiro
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/contas-pagar/listar-todos" class="nav-link">
                <p>Contas a Pagar</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/contas-receber/listar-todos" class="nav-link">
                <p>Contas a Receber</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- OFÍCIOS MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>
              Ofícios
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/oficios-recebidos/listar-todos" class="nav-link">
                <p>Ofícios Recebidos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/oficios-recebidos/adicionar-novo" class="nav-link">
                <p>Novo Recebimento</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/oficios-emitidos/listar-todos" class="nav-link">
                <p>Ofícios Emitidos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/oficios-emitidos/adicionar-novo" class="nav-link">
                <p>Novo Ofício</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- AEROMÉDICO MENU-->
        <li class="nav-item">
          <a routerLink="/operacao-aeromedica" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-user-md"></i>
            <p>
              Operação Aeromédica
            </p>
          </a>
        </li>

        <!-- REGULAMENTAÇÃ MENU-->
        <li class="nav-item">
          <a routerLink="/regulamentei/listar-todos" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-user-md"></i>
            <p>
              Regulamentei
            </p>
          </a>
        </li>

        <!-- SUPRIMENTO MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-hammer"></i>
            <p>
              Suprimento
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/suprimentos/listar-todos" class="nav-link">
                <p>Lista de Itens</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/suprimentos/adicionar-novo" class="nav-link">
                <p>Novo Item</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/suprimentos-movimentacoes/listar-todos" class="nav-link">
                <p>Lista de Movimentações</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/suprimentos-movimentacoes/adicionar-novo" class="nav-link">
                <p>Nova Movimentação</p>
              </a>
            </li>
          </ul>
        </li>
        
        <!-- VEÍCULOS MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-car"></i>
            <p>
              Veículos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/veiculos/listar-todos" class="nav-link">
                <p>Lista de Veículos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/veiculos/adicionar-novo" class="nav-link">
                <p>Novo Veículo</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/veiculos-multas/listar-todos" class="nav-link">
                <p>Lista de Multas</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/veiculos-multas/adicionar-novo" class="nav-link">
                <p>Nova Multa</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/veiculos-gastos/listar-todos" class="nav-link">
                <p>Lista de Gastos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/veiculos-gastos/adicionar-novo" class="nav-link">
                <p>Novo Gasto</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/motoristas/listar-todos" class="nav-link">
                <p>Lista de Motoristas</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/motoristas/adicionar-novo" class="nav-link">
                <p>Novo Motirista</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- USUÁRIOS MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              Configurações
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/usuarios/listar-todos" class="nav-link">
                <p>Usuários</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link">
                <p>Dados Cadastrais</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link">
                <p>Backup</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- CONTATO MENU-->
        <li class="nav-item">
          <a routerLink="/contato" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-headset"></i>
            <p>
              Contato
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>