<!-- Main Sidebar Container -->
<aside *ngIf="usuarioLogado()" class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link text-center">
    <span *ngIf="!usuarioLogado()" class="brand-text font-weight-light" style="text-align: center">Aviation Management</span>
    <span *ngIf="usuarioLogado()" class="brand-text font-weight-light" style="text-align: center">{{nomeEmpresa}}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div>
    <!--<div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
      <div class="image" style="text-align: center; padding-bottom: 10px;">
        <img src="assets/user2-160x160.jpg" class="img-circle elevation-2" style="width: 30%; padding-top: 10px; margin: 0 auto;">
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Home
            </p>
          </a>
        </li>

        <!-- FORNECEDORES MENU-->        
        <li class="nav-item">
          <a routerLink="/fornecedores/listar-todos" class="nav-link">
            <i class="nav-icon fas fa-truck-loading"></i>
            <p>
              Fornecedores
            </p>
          </a>
        </li>
        
        <!-- PRODUTOS MENU-->
        <li class="nav-item">
          <a routerLink="/produtos/listar-todos" class="nav-link">
            <i class="nav-icon fas fa-shopping-basket"></i>
            <p>
              Produtos
            </p>
          </a>
        </li>

        <!-- OPERAÇÕES MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fab fa-hire-a-helper"></i>
            <p>
              Operações
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/diarios-bordo/listar-todos" class="nav-link">
                <p>Diário de Bordo</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/escalas/listar-todos" class="nav-link">
                <p>Escala</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/layout/boxed.html" class="nav-link">
                <p>Papeleta</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/treinamentos/listar-todos" class="nav-link">
                <p>Treinamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/categorias-treinamentos/listar-todos" class="nav-link">
                <p>Categorias</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/licencas-habilitacoes/listar-todos" class="nav-link">
                <p>Licenças e Habilitações</p>
              </a>
            </li>
          </ul>
        </li>
        
        <!-- COORDENAÇÃO MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-location-arrow"></i>
            <p>
              Coordenação de Voo
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/voos-agendados/listar-todos" class="nav-link">
                <p>Voos Agendados</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Frequências</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/rastreadores/listar-todos" class="nav-link">
                <p>Rastreadores</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Fichas Operacionais</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Manifesto de P&B</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Manifesto de Bagagem</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Lista de Passageiros</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/produtos/adicionar-novo" class="nav-link">
                <p>Supervisão de Voo</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- AERONAVES MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-helicopter"></i>
            <p>
              Aeronaves
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/aeronaves/listar-todos" class="nav-link">
                <p>Aeronaves</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/aeronaves-abastecimentos/listar-todos" class="nav-link">
                <p>Abastecimentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/aeronaves-tarifas/listar-todos" class="nav-link">
                <p>Tarifas</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- MANUTENÇÃO MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tools"></i>
            <p>
              Controle de Manutenção
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/ordem-servico/listar-todos" class="nav-link">
                <p>Ordens de Serviço</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/servicos/listar-todos" class="nav-link">
                <p>Serviços</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/mecanicos/listar-todos" class="nav-link">
                <p>Mecânicos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/licencas-habilitacoes/listar-todos" class="nav-link">
                <p>Licenças e Habilitações</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- TRIPULAÇÃO MENU-->
        <li class="nav-item">
          <a routerLink="/tripulantes/listar-todos" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
              Tripulantes
            </p>
          </a>
        </li>

        <!-- BIBLIOTECA MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Biblioteca Técnica
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/manuais-empresa/listar-todos" class="nav-link">
                <p>Manuais da Empresa</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/manuais-voo/listar-todos" class="nav-link">
                <p>Manuais de Voo</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/legislacoes/listar-todos" class="nav-link">
                <p>Legislação</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/tripulantes/adicionar-novo" class="nav-link">
                <p>Modelos</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- ESCOLA MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-graduation-cap"></i>
            <p>
              Escola
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/alunos/listar-todos" class="nav-link">
                <p>Alunos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/cursos/listar-todos" class="nav-link">
                <p>Cursos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/turmas/listar-todos" class="nav-link">
                <p>Turmas</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/instrutores/listar-todos" class="nav-link">
                <p>Instrutores</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/voos-instrucao/listar-todos" class="nav-link">
                <p>Instruções</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- CLIENTES MENU-->
        <li class="nav-item">
          <a routerLink="/clientes/listar-todos" class="nav-link">
            <i class="nav-icon fas fa-user-check"></i>
            <p>
              Clientes
            </p>
          </a>
        </li>

        <!-- FINANCEIRO MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-dollar-sign"></i>
            <p>
              Financeiro
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/contas-pagar/listar-todos" class="nav-link">
                <p>Contas a Pagar</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/contas-receber/listar-todos" class="nav-link">
                <p>Contas a Receber</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- OFÍCIOS MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>
              Ofícios
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/oficios-recebidos/listar-todos" class="nav-link">
                <p>Ofícios Recebidos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/oficios-emitidos/listar-todos" class="nav-link">
                <p>Ofícios Emitidos</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- AEROMÉDICO MENU-->
        <li class="nav-item">
          <a routerLink="/operacao-aeromedica" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-first-aid"></i>
            <p>
              Operação Aeromédica
            </p>
          </a>
        </li>

        <!-- REGULAMENTAÇÃO MENU-->
        <li class="nav-item">
          <a routerLink="/regulamentei/listar-todos" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-stopwatch"></i>
            <p>
              Regulamentei
            </p>
          </a>
        </li>

        <!-- SUPRIMENTO MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-hammer"></i>
            <p>
              Suprimento
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/suprimentos/listar-todos" class="nav-link">
                <p>Itens</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/suprimentos-movimentacoes/listar-todos" class="nav-link">
                <p>Movimentações</p>
              </a>
            </li>
          </ul>
        </li>
        
        <!-- VEÍCULOS MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-car"></i>
            <p>
              Veículos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/veiculos/listar-todos" class="nav-link">
                <p>Veículos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/veiculos-multas/listar-todos" class="nav-link">
                <p>Multas</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/veiculos-gastos/listar-todos" class="nav-link">
                <p>Gastos</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/motoristas/listar-todos" class="nav-link">
                <p>Motoristas</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- USUÁRIOS MENU-->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              Configurações
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/usuarios/listar-todos" class="nav-link">
                <p>Usuários</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link">
                <p>Dados Cadastrais</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link">
                <p>Backup</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- CONTATO MENU-->
        <li class="nav-item">
          <a routerLink="/contato" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-headset"></i>
            <p>
              Contato
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>