<div class="container main-container">

    <h3>Editar Ítem - {{ estoque.nomenclatura }}</h3>
  
    <hr>
    <div class="row">
        <div class="col-md-10">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
              <p style="color: white"> Processando... </p>
          </ngx-spinner>
            <form enctype="multipart/form-data" (ngSubmit)="editarEstoque()" [formGroup]="estoqueForm">
  
                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>
  
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Item</label>
                        <div>
                            <input class="form-control" id="item" type="text" placeholder="Item" formControlName="item" />
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label class="control-label">PartNumber</label>
                        <div>
                            <input class="form-control" id="partNumber" type="text" placeholder="PartNumber (requerido)" formControlName="partNumber" [ngClass]="{'is-invalid': displayMessage.partNumber }" />
                            <span class="text-danger" *ngIf="displayMessage.partNumber">
                                <p [innerHTML]="displayMessage.partNumber"></p>
                            </span>
                        </div>
                    </div>
    
                    <div class="form-group col-md-3">
                        <label class="control-label">Nomenclatura</label>
                        <div>
                            <input class="form-control" id="nomenclatura" type="text" placeholder="Nomenclatura (requerido)" formControlName="nomenclatura" [ngClass]="{'is-invalid': displayMessage.nomenclatura }" />
                            <span class="text-danger" *ngIf="displayMessage.nomenclatura">
                                <p [innerHTML]="displayMessage.nomenclatura"></p>
                            </span>
                        </div>
                    </div>
    
                    <div class="form-group col-md-3">
                        <label class="control-label">Quantidade</label>
                        <div>
                            <input class="form-control" id="quantidade" type="number" placeholder="Quantidade (requerido)" formControlName="quantidade" [ngClass]="{'is-invalid': displayMessage.quantidade }" />
                            <span class="text-danger" *ngIf="displayMessage.quantidade">
                                <p [innerHTML]="displayMessage.quantidade"></p>
                            </span>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Localização</label>
                        <div>
                            <input class="form-control" id="localizacao" type="text" placeholder="Localização" formControlName="localizacao" />
                        </div>
                    </div>
    
                    <div class="form-group col-md-3">
                        <label class="control-label">PartNumber Alternativo</label>
                        <div>
                            <input class="form-control" id="partNumberAlternativo" type="text" placeholder="PartNumber Alternativo" formControlName="partNumberAlternativo" />
                        </div>
                    </div>
    
                    <div class="form-group col-md-3">
                        <label class="control-label">Aplicação</label>
                        <div>
                            <input class="form-control" id="aplicacao" type="text" placeholder="Aplicação" formControlName="aplicacao" />
                        </div>
                    </div>
    
                    <div class="form-group col-md-3">
                        <label class="control-label">Capítulo</label>
                        <div>
                            <input class="form-control" id="capitulo" type="text" placeholder="Capítulo" formControlName="capitulo" />
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Serial Number</label>
                        <div>
                            <input class="form-control" id="serialNumber" type="text" placeholder="Serial Number" formControlName="serialNumber" />
                        </div>
                    </div>
    
                    <div class="form-group col-md-4">
                        <label class="control-label">DOC</label>
                        <div>
                            <input class="form-control" id="doc" type="text" placeholder="DOC" formControlName="doc" />
                        </div>
                    </div>
    
                    <div class="form-group col-md-4">
                        <label class="control-label">Status</label>
                        <div>
                            <input class="form-control" id="status" type="text" placeholder="Status" formControlName="status" />
                        </div>
                    </div>
                </div>               

                <div *ngIf="!imagemPreview" class="form-group">
                    <label>Imagem Atual</label><br>
                    <img [src]="imagemOriginalSrc" style="width: 70px; height: 100px;"/>
                </div>
                <div *ngIf="imagemPreview" class="form-group">
                    <label>Nova Imagem</label><br>
                    <img [src]="imagemPreview" style="width: 70px; height: 100px;"/>
                </div>
  
                  <div class="form-group">
                    <label class="control-label">Imagem do Ítem</label>
  
                    <div class="custom-file">
                        <input type="file" accept="image/jpeg,image/png" class="custom-file-input" id="imagem" formControlName="imagem" #fileInput (change)="upload(fileInput.files)" [ngClass]="{'is-invalid': displayMessage.imagem }">
                        <label data-browse="Procurar" style="width: 400px" class="custom-file-label"></label>
                        <span class="text-danger" *ngIf="displayMessage.imagem">
                            <p [innerHTML]="displayMessage.imagem"></p>
                        </span>
                    </div>
                </div>
  
                <div class="form-group">
                    <input type="submit" [disabled]="!estoqueForm.valid" value="Editar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-info" href="/estoque/listar-todos">Voltar</a>
                </div>
            </form>
        </div>
    </div>
  </div>