<section class="content-header">
    <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Nova Instrução</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li><a class="btn btn-dark" [routerLink]="['/voos-instrucao/listar-todos']" tooltip="Voltar"><i class="fa fa-arrow-left"></i></a></li>&nbsp;&nbsp;
                    <li><a class="btn btn-primary" [routerLink]="['/']" tooltip="Home"><i class="fa fa-home"></i></a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
        
        <div class="row">
            <div class="col-md-12">
                
                <form enctype="multipart/form-data" (ngSubmit)="adicionarVooInstrucao()" [formGroup]="vooInstrucaoForm">
                    
                    <div class="alert alert-danger" *ngIf="errors.length > 0">
                        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                        <ul>
                            <li *ngFor="let error of errors">{{ error }}</li>
                        </ul>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h5 class="card-header">Dados da Instrução</h5>
                                <div class="card-body">
                                    <div class="row">                                        
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Data<span style="color: red;">*</span></label>
                                            <div>
                                                <input class="form-control" id="data" type="date" formControlName="data" [ngClass]="{'is-invalid': displayMessage.data }" />
                                                <span class="text-danger" *ngIf="displayMessage.data">
                                                    <p [innerHTML]="displayMessage.data"></p>
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Matrícula<span style="color: red;">*</span></label>
                                            <select class="form-control" id="aeronaveId" formControlName="aeronaveId" [ngClass]="{'is-invalid': displayMessage.aeronaveId }">
                                                <option *ngFor="let aeronave of aeronaves" value="{{ aeronave.id }}">{{ aeronave.matricula }}</option>
                                            </select>
                                            <span class="text-danger" *ngIf="displayMessage.aeronaveId">
                                                <p [innerHTML]="displayMessage.aeronaveId"></p>
                                            </span>
                                        </div>
                                        
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Aluno<span style="color: red;">*</span></label>
                                            <select class="form-control" id="alunoId" formControlName="alunoId" [ngClass]="{'is-invalid': displayMessage.alunoId }">
                                                <option *ngFor="let aluno of alunos" value="{{ aluno.id }}">{{ aluno.nome }}</option>
                                            </select>
                                            <span class="text-danger" *ngIf="displayMessage.alunoId">
                                                <p [innerHTML]="displayMessage.alunoId"></p>
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Instrutor<span style="color: red;">*</span></label>
                                            <select class="form-control" id="instrutorId" formControlName="instrutorId" [ngClass]="{'is-invalid': displayMessage.instrutorId }">
                                                <option *ngFor="let colaborador of colaboradores" value="{{ colaborador.id }}">{{ colaborador.nome }}</option>
                                            </select>
                                            <span class="text-danger" *ngIf="displayMessage.instrutorId">
                                                <p [innerHTML]="displayMessage.instrutorId"></p>
                                            </span>
                                        </div>
                                        
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Tempo de Voo<span style="color: red;">*</span></label>
                                            <div>
                                                <input class="form-control" id="tempoVoo" type="text" formControlName="tempoVoo" [ngClass]="{'is-invalid': displayMessage.tempoVoo }" />
                                                <span class="text-danger" *ngIf="displayMessage.tempoVoo">
                                                    <p [innerHTML]="displayMessage.tempoVoo"></p>
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-4">
                                            <label class="control-label">Avaliação<span style="color: red;">*</span></label>
                                            <div>
                                                <select class="form-control" id="avaliacao" formControlName="avaliacao" [ngClass]="{ 'is-invalid': displayMessage.avaliacao }">
                                                    <option value=true>Satisfatório</option>
                                                    <option value=false>Não Satisfatório</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Observações</label>
                                            <div>
                                                <textarea cols="40" rows="5" maxlength="200" class="form-control" id="observacoes" placeholder="(opcional)" formControlName="observacoes" [ngClass]="{'is-invalid': displayMessage.observacoes }"></textarea>
                                                <span class="text-danger" *ngIf="displayMessage.observacoes">
                                                    <p [innerHTML]="displayMessage.observacoes"></p>
                                                </span>
                                            </div>
                                        </div> 
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>                  
                    
                    <div class="form-group" style="text-align: center;">
                        <input type="submit" [disabled]="!vooInstrucaoForm.valid" value="Cadastrar" class="btn btn-success" style="width: 30%;">&nbsp;
                        <a class="btn btn-primary" href="/voos-instrucao/listar-todos">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>