<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Voos Agendados</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Voos Agendados</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">

    <div class="container-fluid">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    
  </div>    
</section>