<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Detalhes da Conta</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Contas a Receber</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
    <div>
      <dl class="row">
        <dt class="col-sm-2">
          <label class="control-label">Data do Vencimento</label>
        </dt>
        <dd class="col-sm-10">
          {{ contasReceber.dataVencimento | date }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Descrição</label>
        </dt>
        <dd class="col-sm-10">
          {{ contasReceber.descricao }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Valor a Receber</label>
        </dt>
        <dd class="col-sm-10">
          {{ contasReceber.valorReceber | currencyBrazil }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Código de Barras</label>
        </dt>
        <dd class="col-sm-10">
          {{ contasReceber.codigoBarras }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Situação</label>
        </dt>
        <dd class="col-sm-10" *ngIf="contasReceber.situacao == 1">Pago</dd>
        <dd class="col-sm-10" *ngIf="contasReceber.situacao == 2">Não Pago</dd>
        <dt class="col-sm-2">
          <label class="control-label">Data do Recebimento</label>
        </dt>
        <dd class="col-sm-10">
          {{ contasReceber.dataRecebimento | date }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Valor Recebido</label>
        </dt>
        <dd class="col-sm-10">
          {{ contasReceber.valorRecebido | currencyBrazil }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Forma de Pagamento</label>
        </dt>
        <dd class="col-sm-10">
          {{ contasReceber.formaPagamento }}
        </dd>        
      </dl>
    </div>
    
    <div>
      <a class="btn btn-dark" [routerLink]="['/contas-receber/editar', contasReceber.id]">Editar</a>&nbsp;
      <a class="btn btn-info" [routerLink]="['/contas-receber/listar-todos']">Voltar</a>
    </div>
    
  </div>
</section>
<!-- /.content -->