<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Detalhes do Diário de Bordo</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Diários de Bordo</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
    <div>
      <h4>Diário de Bordo: {{ diarioBordo.matriculaAeronave }} - {{diarioBordo.data}} </h4>
      <hr />
      <dl class="row">
        <dt class="col-sm-2">
          <label class="control-label">Data</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.data | date }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Matrícula</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.matriculaAeronave }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Base</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.base }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">De</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.de }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Para</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.para }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Hora Acionamento</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.horaAcionamento | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Hora Decolagem</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.horaDecolagem | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Hora Pouso</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.horaPouso | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Hora Corte</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.horaCorte | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Total Diurno</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.totalDiurno | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Total Noturno</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.totalNoturno | time }}
        </dd>  
        <dt class="col-sm-2">
          <label class="control-label">Total IFR</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.totalIfr | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Total Navegação</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.totalNavegacao | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Total Decimal</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.totalDecimal | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Total Dec/Pouso</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.totalDecPouso | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Total Acionamento/Corte</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.totalAcionamentoCorte | time }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Pousos</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.pousos }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">POB</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.pob }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Combustível Decolagem (L)</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.combustivelDecolagem }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Natureza</label>
        </dt>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 1">AE</dd>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 2">CQ</dd>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 3">EX</dd>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 4">NR</dd>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 5">RE</dd>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 6">PV</dd>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 7">SA</dd>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 8">TN</dd>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 9">TR</dd>
        <dd class="col-sm-10" *ngIf="diarioBordo.naturezaVoo == 10">FR</dd>
        <dt class="col-sm-2">
          <label class="control-label">Comandante</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.nomeComandante }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Copiloto</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.nomeCopiloto }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Mecânico</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.nomeMecanico }}
        </dd>  
        <dt class="col-sm-2">
          <label class="control-label">Pré Voo</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.preVooResponsavel }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Pós Voo</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.posVooResponsavel }}
        </dd> 
        <dt class="col-sm-2">
          <label class="control-label">Discrepâncias</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.discrepancias }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Ações Corretivas</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.acoesCorretivas }}
        </dd>
        <dt class="col-sm-2">
          <label class="control-label">Observações</label>
        </dt>
        <dd class="col-sm-10">
          {{ diarioBordo.observacoes }}
        </dd>
      </dl>
    </div>
    
    <div>
      <a class="btn btn-dark" [routerLink]="['/diarios-bordo/editar', diarioBordo.id]">Editar</a>&nbsp;
      <a class="btn btn-info" [routerLink]="['/diarios-bordo/listar-todos']">Voltar</a>
    </div>
    
  </div>
</section>
<!-- /.content -->