<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Turmas</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
    <div class="d-flex">
      <div class="form-inline mr-auto">
        <div class="form-group mb-2">
          <input type="text" class="form-control mr 2" placeholder="Buscar" [(ngModel)]="filtroLista">
        </div>
      </div>
      <div>
        <a class="btn btn-primary" [routerLink]="['/']"><i class="fa fa-home"></i></a>&nbsp;&nbsp;
        <a class="btn btn-success" [routerLink]="['/turmas/adicionar-novo']"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Nova Turma</a>&nbsp;&nbsp;
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-hover" style="white-space: nowrap">
        <thead class="thead-dark">
          <tr>
            <th>Código</th>
            <th>Curso</th>
            <th>Data Início</th>
            <th>Data Término</th>
            <th>Inscrição</th>
            <th>Mensalidade</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="turmas && turmas.length">
          <tr *ngFor="let turma of turmasFiltradas">
            <td>{{ turma.codigo }}</td>
            <td>{{ turma.descricaoCurso }}</td>
            <td>{{ turma.dataInicio | date: 'dd/MM/yyyy' }}</td>
            <td>{{ turma.dataTermino | date: 'dd/MM/yyyy' }}</td>
            <td>{{ turma.inscricao | currencyBrazil }}</td>
            <td>{{ turma.mensalidade | currencyBrazil }}</td>
            
            <td class="text-right">
              <a class="btn btn-success btn-sm" [ngClass]="{'disabled': turma.dataTermino != null }" (click)="openModal(confirmEncerrar, turma.id)">
                <span class="fa fa-check" style="color: white;"></span>
              </a>&nbsp;
              <a class="btn btn-dark btn-sm" [ngClass]="{'disabled': turma.dataTermino == null }" (click)="openModal(confirmReabrir, turma.id)">
                <span class="fas fa-redo-alt" style="color: white;"></span>
              </a>&nbsp;
              <a class="btn btn-primary btn-sm" [ngClass]="{'disabled': turma.dataTermino != null }" [routerLink]="['/alunos-turmas/adicionar-novo']">
                <span class="fas fa-user-plus"></span>
              </a>&nbsp;
              <a class="btn btn-warning btn-sm" [routerLink]="['/turmas/detalhes',turma.id]">
                <span class="fa fa-search"></span>
              </a>&nbsp;
              <a class="btn btn-info btn-sm" [ngClass]="{'disabled': turma.dataTermino != null }" [routerLink]="['/turmas/editar',turma.id]">
                <span class="fa fa-pencil-alt"></span>
              </a>
              <!-- <a class="btn btn-danger" [routerLink]="['/turmas/excluir',turma.id]">
                <span class="fa fa-trash"></span>
              </a> -->
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!turmas">
          <tr>
            <td colspan="7" class="text-center">
              <h4>
                Nenhum item encontrado!
              </h4>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
<!-- /.content -->





<!-- MODAL ENCERRAR TURMA -->
<div bsModal #confirmEncerrar="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Confirma encerramento?
        </h4>
        <button type="button" class="close pull-right" (click)="confirmEncerrar.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A turma será encerrada!</p>
      </div>    
      <div class="modal-footer btn-group d-flex">      
        <button type="button" class="btn btn-outline-primary" (click)="confirmEncerrar.hide()">
          CENCELAR
        </button>
        <button type="button" class="btn btn-outline-success" style="margin-left: 30px;" (click)="encerrarTurma(confirmEncerrar)"> 
          CONFIRMAR
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL REABRIR TURMA -->
<div bsModal #confirmReabrir="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Confirma reabertura?
        </h4>
        <button type="button" class="close pull-right" (click)="confirmReabrir.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A turma será reaberta!</p>
      </div>    
      <div class="modal-footer btn-group d-flex">      
        <button type="button" class="btn btn-outline-primary" (click)="confirmReabrir.hide()">
          CENCELAR
        </button>
        <button type="button" class="btn btn-outline-success" style="margin-left: 30px;" (click)="reabrirTurma(confirmReabrir)"> 
          CONFIRMAR
        </button>
      </div>
    </div>
  </div>
</div>