<section class="content-header">
    <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Editar Manual</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li><a class="btn btn-dark" [routerLink]="['/manuais-empresa/listar-todos']" tooltip="Voltar"><i class="fa fa-arrow-left"></i></a></li>&nbsp;&nbsp;
                    <li><a class="btn btn-primary" [routerLink]="['/']" tooltip="Home"><i class="fa fa-home"></i></a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
        
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
            <p style="color: white"> Processando... </p>
        </ngx-spinner>
        
        <form enctype="multipart/form-data" (ngSubmit)="editarManualEmpresa()" [formGroup]="manualEmpresaForm">
            
            <div class="alert alert-danger" *ngIf="errors.length > 0">
                <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                <ul>
                    <li *ngFor="let error of errors">{{ error }}</li>
                </ul>
            </div>
            
            <input type="hidden" id="id" name="id" value="">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">Dados do Manual</h5>
                        <div class="card-body">
                            <div class="row">                                         
                                <div class="form-group col-md-8">
                                    <label class="control-label">Descrição<span style="color: red;">*</span></label>
                                    <div>
                                        <input class="form-control" id="descricao" type="text" formControlName="descricao" [ngClass]="{'is-invalid': displayMessage.descricao }" />
                                        <span class="text-danger" *ngIf="displayMessage.descricao">
                                            <p [innerHTML]="displayMessage.descricao"></p>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Sigla<span style="color: red;">*</span></label>
                                    <div>
                                        <input class="form-control" id="sigla" type="text" formControlName="sigla" [ngClass]="{'is-invalid': displayMessage.sigla }" />
                                        <span class="text-danger" *ngIf="displayMessage.sigla">
                                            <p [innerHTML]="displayMessage.sigla"></p>
                                        </span>
                                    </div>
                                </div>
                            </div>   
                            
                            <div class="row"> 
                                <div class="form-group col-md-4">
                                    <label class="control-label">Revisão Atual<span style="color: red;">*</span></label>
                                    <div>
                                        <input class="form-control" id="revisaoAtual" type="number" formControlName="revisaoAtual" [ngClass]="{'is-invalid': displayMessage.revisaoAtual }" />
                                        <span class="text-danger" *ngIf="displayMessage.revisaoAtual">
                                            <p [innerHTML]="displayMessage.revisaoAtual"></p>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-4">
                                    <label class="control-label">Data da Revisão<span style="color: red;">*</span></label>
                                    <div>
                                        <input class="form-control" id="dataRevisao" type="date" formControlName="dataRevisao" [ngClass]="{'is-invalid': displayMessage.dataRevisao }" />
                                        <span class="text-danger" *ngIf="displayMessage.dataRevisao">
                                            <p [innerHTML]="displayMessage.dataRevisao"></p>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-4">
                                    <label class="control-label">Revisão em Análise</label>
                                    <div>
                                        <input class="form-control" id="revisaoAnalise" type="number" formControlName="revisaoAnalise" />
                                    </div>
                                </div>  
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group" style="text-align: right;">
                <input type="submit" value="Salvar Alterações" class="btn btn-primary" style="margin-top: 20px;">&nbsp;
            </div>
            
        </form>
    </div>
</section>
<!-- /.content -->