<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Aeronaves</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <!-- <li><a class="btn btn-primary" [routerLink]="['/']"><i class="fa fa-home"></i></a></li> -->
          <!-- <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Fornecedores</li> -->
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
      <div class="d-flex">
        <div class="form-inline mr-auto">
          <div class="form-group mb-2">
            <input type="text" class="form-control mr 2" placeholder="Buscar" [(ngModel)]="filtroLista">
          </div>
        </div>
        <div>
          <a class="btn btn-primary" [routerLink]="['/']"><i class="fa fa-home"></i></a>&nbsp;&nbsp;
          <a class="btn btn-warning" [routerLink]="['/aeronaves-abastecimentos/adicionar-novo']"><i class="fa fa-receipt"></i>&nbsp;&nbsp;Novo Abastecimento</a>&nbsp;&nbsp;
          <a class="btn btn-danger" [routerLink]="['/aeronaves-tarifas/adicionar-novo']"><i class="fas fa-dollar-sign"></i>&nbsp;&nbsp;Nova Tarifa</a>&nbsp;&nbsp;
          <a class="btn btn-success" [routerLink]="['/aeronaves/adicionar-novo']"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Nova Aeronave</a>
        </div>
      </div>
      
      <div class="table-responsive">
        <table class="table table-hover" style="white-space: nowrap">
          <thead class="thead-dark">
            <tr>
              <th>
                <button (click)="alternarImagem()" class="btn btn-primary">
                  <i class="{{mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
                </button>
              </th>
              <th>Matrícula</th>
              <th>Fabricante</th>
              <th>Categoria</th>
              <th>Modelo</th>
              <th>Horas Restantes</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="aeronaves && aeronaves.length">
            <tr *ngFor="let aeronave of aeronavesFiltrados">
              <td><img *ngIf="mostrarImagem" src="{{ imagens }}{{ aeronave.imagem }}" style="width: 100px; height: 70px"></td>
              <td>{{ aeronave.matricula }}</td>
              <td>{{ aeronave.fabricante }}</td>
              <td>{{ aeronave.categoria }}</td>
              <td>{{ aeronave.modelo }}</td>
              <td>{{ aeronave.horasRestantes }}</td>
              
              <td class="text-right">
                <a class="btn btn-success btn-sm" [ngClass]="{'disabled': aeronave.situacao == true }" (click)="openModal(confirmOperacional, aeronave.id)">
                  <span class="fas fa-thumbs-up" style="color: white;"></span>
                </a>&nbsp;
                <a class="btn btn-danger btn-sm" [ngClass]="{'disabled': aeronave.situacao == false }" (click)="openModal(confirmForaOperacao, aeronave.id)">
                  <span class="fas fa-thumbs-down" style="color: white;"></span>
                </a>&nbsp;
                <a class="btn btn-info btn-sm" [routerLink]="['/aeronaves/detalhes',aeronave.id]">
                  <span class="fa fa-search"></span>
                </a>&nbsp;
                <a class="btn btn-warning btn-sm" [routerLink]="['/aeronaves/editar',aeronave.id]">
                  <span class="fa fa-pencil-alt"></span>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="!aeronaves">
            <tr>
              <td colspan="7" class="text-center">
                <h4>
                  Nenhum item encontrado!
                </h4>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </section>
  <!-- /.content -->


    <!-- MODAL OPERACIONAL -->
<div bsModal #confirmOperacional="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Confirma alteração?
        </h4>
        <button type="button" class="close pull-right" (click)="confirmOperacional.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>O status será alterado para Operacional!</p>
      </div>    
      <div class="modal-footer btn-group d-flex">      
        <button type="button" class="btn btn-outline-danger" (click)="confirmOperacional.hide()">
          CENCELAR
        </button>
        <button type="button" class="btn btn-outline-success" style="margin-left: 30px;" (click)="liberarAeronave(confirmOperacional)"> 
          CONFIRMAR
        </button>
      </div>
    </div>
  </div>
</div>

  <!-- MODAL FORA DE OPERAÇÃO -->
  <div bsModal #confirmForaOperacao="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">
            Confirma alteração?
          </h4>
          <button type="button" class="close pull-right" (click)="confirmForaOperacao.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>O status será alterado para Fora de Operação!</p>
        </div>    
        <div class="modal-footer btn-group d-flex">      
          <button type="button" class="btn btn-outline-danger" (click)="confirmForaOperacao.hide()">
            CENCELAR
          </button>
          <button type="button" class="btn btn-outline-success" style="margin-left: 30px;" (click)="pararAeronave(confirmForaOperacao)"> 
            CONFIRMAR
          </button>
        </div>
      </div>
    </div>
  </div>