<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid" style="padding-left: 20px;">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Clientes</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Clientes</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
  <div class="form-inline">
      <div class="form-group mb-2">
          <input type="text" class="form-control mr 2" placeholder="Buscar" [(ngModel)]="filtroLista">
      </div>
  </div>
  <table class="table table-striped">
      <thead class="thead-dark">
          <tr>
              <th>#</th>
              <th>Primeiro Nome</th>
              <th>Último Nome</th>
              <th>CPF</th>
              <th>Telefone</th>
              <th>E-mail</th>
              <th>Opções</th>
          </tr>
      </thead>
      <tbody *ngIf="clientes && clientes.length">
          <tr *ngFor="let cliente of clientesFiltrados">
              <td></td>
              <td>{{cliente.primeiroNome}}</td>
              <td>{{cliente.ultimoNome}}</td>
              <td>{{cliente.cpf}}</td>
              <td>{{cliente.telefone}}</td>
              <td>{{cliente.email}}</td>
              <td>
                  <button class="btn btn-success"><i class="fas fa-trash"></i></button>
                  <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
              </td>
          </tr>
      </tbody>
      <tfoot *ngIf="!clientes.length">
          <tr>
              <td colspan="7" class="text-center">
                  <h4>
                      Nenhum item encontrado!
                  </h4>
              </td>
          </tr>
      </tfoot>
  </table>
  </div>
</section>
<!-- /.content -->