<div class="container main-container">
    
    <h3>Editar Aluno - {{ aluno.nome }}</h3>
    
    <hr>
    <div class="row">
        <div class="col-md-10">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
                <p style="color: white"> Processando... </p>
            </ngx-spinner>
            <form enctype="multipart/form-data" (ngSubmit)="editarAluno()" [formGroup]="alunoForm">
                
                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>
                
                <input type="hidden" id="id" name="id" value="">
                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Nome</label>
                        <div>
                            <input class="form-control" id="nome" type="text" placeholder="(requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                            <span class="text-danger" *ngIf="displayMessage.nome">
                                <p [innerHTML]="displayMessage.nome"></p>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label class="control-label">Tipo de Pessoa</label>
                        <div>
                            <select class="form-control" id="tipoPessoa" formControlName="tipoPessoa" [ngClass]="{ 'is-invalid': displayMessage.tipoPessoa }">
                                <option value="1">Pessoa Física</option>
                                <option value="2">Pessoa Jurídica</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label class="control-label">Documento</label>
                        <div>
                            <input class="form-control" id="documento" type="text" placeholder="{{ textoDocumento }}" formControlName="documento" [textMask]="tipoAlunoForm().value === '1' ? {mask: MASKS.cpf.textMask} : {mask: MASKS.cnpj.textMask}" [ngClass]="{'is-invalid': displayMessage.documento }"
                            />
                            <span class="text-danger" *ngIf="displayMessage.documento">
                                <p [innerHTML]="displayMessage.documento"></p>
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Sexo</label>
                        <div>
                            <select class="form-control" id="sexo" formControlName="sexo" [ngClass]="{ 'is-invalid': displayMessage.sexo }">
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                                <option value="3">Outro</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label class="control-label">Estado Civil</label>
                        <div>
                            <input class="form-control" id="estadoCivil" type="text" placeholder="(opcional)" formControlName="estadoCivil" [ngClass]="{'is-invalid': displayMessage.estadoCivil }" />
                            <span class="text-danger" *ngIf="displayMessage.estadoCivil">
                                <p [innerHTML]="displayMessage.estadoCivil"></p>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label class="control-label">Ativo</label>
                        <div>
                            <select class="form-control" id="ativo" formControlName="ativo" [ngClass]="{ 'is-invalid': displayMessage.ativo }">
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label class="control-label">Telefone</label>
                        <div>
                            <input class="form-control" id="telefone" type="text" placeholder="(opcional)" formControlName="telefone" [ngClass]="{'is-invalid': displayMessage.telefone }" />
                            <span class="text-danger" *ngIf="displayMessage.telefone">
                                <p [innerHTML]="displayMessage.telefone"></p>
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">E-mail</label>
                        <div>
                            <input class="form-control" id="email" type="email" placeholder="(opcional)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                            <span class="text-danger" *ngIf="displayMessage.email">
                                <p [innerHTML]="displayMessage.email"></p>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label class="control-label">RG</label>
                        <div>
                            <input class="form-control" id="rg" type="text" placeholder="(requerido)" formControlName="rg" [ngClass]="{'is-invalid': displayMessage.rg }" />
                            <span class="text-danger" *ngIf="displayMessage.rg">
                                <p [innerHTML]="displayMessage.rg"></p>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label class="control-label">CANAC</label>
                        <div>
                            <input class="form-control" id="canac" type="text" placeholder="(opcional)" formControlName="canac" [ngClass]="{'is-invalid': displayMessage.canac }" />
                            <span class="text-danger" *ngIf="displayMessage.canac">
                                <p [innerHTML]="displayMessage.canac"></p>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label class="control-label">Total Voado</label>
                        <div>
                            <input class="form-control" id="totalVoado" type="text" placeholder="(requerido)" formControlName="totalVoado" [ngClass]="{'is-invalid': displayMessage.totalVoado }" />
                            <span class="text-danger" *ngIf="displayMessage.totalVoado">
                                <p [innerHTML]="displayMessage.totalVoado"></p>
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Saldo</label>
                        <div>
                            <input class="form-control" id="saldo" type="text" placeholder="(requerido)" formControlName="saldo" [ngClass]="{'is-invalid': displayMessage.saldo }" />
                            <span class="text-danger" *ngIf="displayMessage.saldo">
                                <p [innerHTML]="displayMessage.saldo"></p>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label class="control-label">Data de Nascimento</label>
                        <div>
                            <input class="form-control" id="dataNascimento" type="date" formControlName="dataNascimento" [ngClass]="{'is-invalid': displayMessage.dataNascimento }" />
                            <span class="text-danger" *ngIf="displayMessage.dataNascimento">
                                <p [innerHTML]="displayMessage.dataNascimento"></p>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label class="control-label">Validade do CMA</label>
                        <div>
                            <input class="form-control" id="validadeCMA" type="date" formControlName="validadeCMA" />
                        </div>
                    </div>
                </div>   
                
                <div *ngIf="!imagemPreview" class="form-group">
                    <label>Foto Atual</label><br>
                    <img [src]="imagemOriginalSrc" style="width: 70px; height: 100px;"/>
                </div>
                <div *ngIf="imagemPreview" class="form-group">
                    <label>Nova Foto</label><br>
                    <img [src]="imagemPreview" style="width: 70px; height: 100px;"/>
                </div>
                
                <div class="form-group">
                    <label class="control-label">Foto do Aluno</label>
                    
                    <div class="custom-file">
                        <input type="file" accept="image/jpg,image/png" class="custom-file-input" id="imagem" formControlName="imagem" #fileInput (change)="upload(fileInput.files)" [ngClass]="{'is-invalid': displayMessage.imagem }">
                        <label data-browse="Procurar" style="width: 400px" class="custom-file-label"></label>
                        <span class="text-danger" *ngIf="displayMessage.imagem">
                            <p [innerHTML]="displayMessage.imagem"></p>
                        </span>
                    </div>
                </div>               
                
                <div class="form-group">
                    <input type="submit" [disabled]="!alunoForm.valid" value="Editar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-info" href="/alunos/listar-todos">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>