<section class="content-header">
    <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Editar Ofício</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li><a class="btn btn-dark" [routerLink]="['/oficios-emitidos/listar-todos']" tooltip="Voltar"><i class="fa fa-arrow-left"></i></a></li>&nbsp;&nbsp;
                    <li><a class="btn btn-primary" [routerLink]="['/']" tooltip="Home"><i class="fa fa-home"></i></a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
        
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
            <p style="color: white"> Processando... </p>
        </ngx-spinner>
        
        <form novalidate="novalidate" (ngSubmit)="editarOficioEmitido()" [formGroup]="oficioEmitidoForm">
            
            <div class="alert alert-danger" *ngIf="errors.length > 0">
                <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                <ul>
                    <li *ngFor="let error of errors">{{ error }}</li>
                </ul>
            </div>
            
            <input type="hidden" id="id" name="id" value="">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">Dados da Legislação</h5>
                        <div class="card-body">
                            <div class="row">  
                                <div class="form-group col-md-4">
                                    <label class="control-label">Numeração<span style="color: red;">*</span></label>
                                    <div>
                                        <input class="form-control" id="numeracao" type="text" formControlName="numeracao" [ngClass]="{'is-invalid': displayMessage.numeracao }" />
                                        <span class="text-danger" *ngIf="displayMessage.numeracao">
                                            <p [innerHTML]="displayMessage.numeracao"></p>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-4">
                                    <label class="control-label">Data<span style="color: red;">*</span></label>
                                    <div>
                                        <input class="form-control" id="data" type="date" formControlName="data" [ngClass]="{'is-invalid': displayMessage.data }" />
                                        <span class="text-danger" *ngIf="displayMessage.data">
                                            <p [innerHTML]="displayMessage.data"></p>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-4">
                                    <label class="control-label">Assunto<span style="color: red;">*</span></label>
                                    <div>
                                        <input class="form-control" id="assunto" type="text" formControlName="assunto" [ngClass]="{'is-invalid': displayMessage.assunto }" />
                                        <span class="text-danger" *ngIf="displayMessage.assunto">
                                            <p [innerHTML]="displayMessage.assunto"></p>
                                        </span>
                                    </div>
                                </div>
                            </div>   
                            
                            <div class="row"> 
                                <div class="form-group col-md-6">
                                    <label class="control-label">Destinatário<span style="color: red;">*</span></label>
                                    <div>
                                        <input class="form-control" id="destinatario" type="text" formControlName="destinatario" [ngClass]="{'is-invalid': displayMessage.destinatario }" />
                                        <span class="text-danger" *ngIf="displayMessage.destinatario">
                                            <p [innerHTML]="displayMessage.destinatario"></p>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Responsável</label>
                                    <div>
                                        <input class="form-control" id="responsavel" type="text" formControlName="responsavel" [ngClass]="{'is-invalid': displayMessage.responsavel }" />
                                        <span class="text-danger" *ngIf="displayMessage.responsavel">
                                            <p [innerHTML]="displayMessage.responsavel"></p>
                                        </span>
                                    </div>
                                </div>  
                            </div> 
                            
                            <div class="row"> 
                                <div class="form-group col-md-12">
                                    <label class="control-label">Mensagem<span style="color: red;">*</span></label>
                                    <div>
                                        <textarea cols="40" rows="10" maxlength="1000" class="form-control" id="mensagem" formControlName="mensagem" [ngClass]="{'is-invalid': displayMessage.mensagem }"></textarea>
                                        <span class="text-danger" *ngIf="displayMessage.mensagem">
                                            <p [innerHTML]="displayMessage.mensagem"></p>
                                        </span>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group" style="text-align: right;">
                <input type="submit" value="Salvar Alterações" class="btn btn-primary" style="margin-top: 20px;">&nbsp;
            </div>
            
        </form>
    </div>
</section>
<!-- /.content -->