<!-- <table class="table table-hover" style="white-space: nowrap"> -->
<table class="card-table table table-hover">
  <!-- <thead class="thead-dark"> -->
  <thead>
    <tr>
      <th>Tripulante</th>
      <th>Instrutor</th>
      <th>Início</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody *ngIf="treinamentos && treinamentos.length">
    <tr *ngFor="let treinamento of treinamentos">
      <td>{{ treinamento.nomeTripulante }}</td>
      <td>{{ treinamento.instrutor }}</td>
      <td>{{ treinamento.dataInicio | date: 'dd/MM/yyyy' }}</td>
      <td *ngIf="treinamento.dataTermino == null"><span class="badge badge-success">Em Andamento</span></td>
      <td *ngIf="treinamento.dataTermino != null"><span class="badge badge-danger">Encerrado</span></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!treinamentos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          <i class="far fa-smile"></i>&nbsp;&nbsp; Não há treinamento em andamento!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>