<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid" style="padding-left: 20px;">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Serviços</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Serviços</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
      <div class="d-flex">
        <div class="form-inline mr-auto">
          <div class="form-group mb-2">
              <input type="text" class="form-control mr 2" placeholder="Buscar" [(ngModel)]="filtroLista">
          </div>
        </div>
        <div>
          <a class="btn btn-success" [routerLink]="['/servicos/adicionar-novo']"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Novo Serviço </a>
          <!--<button class="btn btn-success" (click)="novoFornecedor(template)"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Novo Fornecedor</button>-->
        </div>
      </div>
    <table class="table table-hover" style="white-space: nowrap">
        <thead class="thead-dark">
            <tr>
                <th>Descrição</th>
                <th>Custo</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="servicos && servicos.length">
          <tr *ngFor="let servico of servicosFiltrados">
                <td>{{ servico.descricao }}</td>
                <td>{{ servico.custo | currencyBrazil }}</td>
                
                <td class="text-right">
                    <a class="btn btn-warning" [routerLink]="['/servicos/detalhes',servico.id]">
                        <span class="fa fa-search"></span>
                    </a>&nbsp;
                    <a class="btn btn-info" [routerLink]="['/servicos/editar',servico.id]">
                        <span class="fa fa-pencil-alt"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/servicos/excluir',servico.id]">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="!servicos">
            <tr>
                <td colspan="7" class="text-center">
                    <h4>
                        Nenhum item encontrado!
                    </h4>
                </td>
            </tr>
        </tfoot>
    </table>
    </div>
</section>
<!-- /.content -->