@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/admin-lte/dist/css/adminlte.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

#toast-container > div {
    opacity: 1;
}

.aeronaveHorasVermelho {
    font-weight: bold;
    color: red;
}

.aeronaveHorasAmarelo {
    font-weight: bold;
    color: rgba(187, 184, 0, 0.836);
}