<section class="content-header">
    <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Editar Escala</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li><a class="btn btn-dark" [routerLink]="['/escalas/listar-todos']" tooltip="Voltar"><i class="fa fa-arrow-left"></i></a></li>&nbsp;&nbsp;
                    <li><a class="btn btn-primary" [routerLink]="['/']" tooltip="Home"><i class="fa fa-home"></i></a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
        
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
            <p style="color: white"> Processando... </p>
        </ngx-spinner>
        
        <form enctype="multipart/form-data" (ngSubmit)="editarEscala()" [formGroup]="escalaForm">
            
            <div class="alert alert-danger" *ngIf="errors.length > 0">
                <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                <ul>
                    <li *ngFor="let error of errors">{{ error }}</li>
                </ul>
            </div>
            
            <input type="hidden" id="id" name="id" value="">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">Dados da Escala</h5>
                        <div class="card-body">
                            <div class="row">     
                                <div class="form-group col-md-3">
                                    <label class="control-label">Data<span style="color: red;">*</span></label>
                                    <div>
                                        <input class="form-control" id="data" type="date" formControlName="data" [ngClass]="{'is-invalid': displayMessage.data }"/>
                                        <span class="text-danger" *ngIf="displayMessage.data">
                                            <p [innerHTML]="displayMessage.data"></p>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label class="control-label">Tripulante<span style="color: red;">*</span></label>
                                    <select class="form-control" id="tripulanteId" formControlName="tripulanteId" [ngClass]="{'is-invalid': displayMessage.tripulanteId }">
                                        <option *ngFor="let tripulante of tripulantes" value="{{ tripulante.id }}">{{ tripulante.nome }}</option>
                                    </select>
                                    <span class="text-danger" *ngIf="displayMessage.tripulanteId">
                                        <p [innerHTML]="displayMessage.tripulanteId"></p>
                                    </span>
                                </div> 
                                
                                <div class="form-group col-md-3">
                                    <label class="control-label">Status<span style="color: red;">*</span></label>
                                    <div>
                                        <select class="form-control" id="status" formControlName="status" [ngClass]="{'is-invalid': displayMessage.status }" >
                                            <option value=1>Serviço</option>
                                            <option value=2>Férias</option>
                                            <option value=3>Folga Regular</option>
                                            <option value=4>Folga Social</option>
                                            <option value=5>Check</option>
                                            <option value=6>Licença Médica</option>
                                            <option value=7>Dispensa</option>
                                            <option value=8>Treinamento</option>
                                            <option value=9>Reserva</option>
                                            <option value=10>Administrativo</option>
                                        </select>
                                        <span class="text-danger" *ngIf="displayMessage.status">
                                            <p [innerHTML]="displayMessage.status"></p>
                                        </span>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group" style="text-align: right;">
                <input type="submit" value="Salvar Alterações" class="btn btn-primary" style="margin-top: 20px;">&nbsp;
            </div>
            
        </form>
    </div>
</section>
<!-- /.content -->