<section class="content-header">
    <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Novo Veículo</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li><a class="btn btn-dark" [routerLink]="['/veiculos/listar-todos']" tooltip="Voltar"><i class="fa fa-arrow-left"></i></a></li>&nbsp;&nbsp;
                    <li><a class="btn btn-primary" [routerLink]="['/']" tooltip="Home"><i class="fa fa-home"></i></a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
        
        <div class="row">
            <div class="col-md-12">
                <form enctype="multipart/form-data" (ngSubmit)="adicionarVeiculo()" [formGroup]="veiculoForm">
                    
                    <div class="alert alert-danger" *ngIf="errors.length > 0">
                        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                        <ul>
                            <li *ngFor="let error of errors">{{ error }}</li>
                        </ul>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h5 class="card-header">Dados do Veículo</h5>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Placa<span style="color: red;">*</span></label>
                                            <div>
                                                <input class="form-control" id="placa" type="text" formControlName="placa" [ngClass]="{'is-invalid': displayMessage.placa }" />
                                                <span class="text-danger" *ngIf="displayMessage.placa">
                                                    <p [innerHTML]="displayMessage.placa"></p>
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-3">
                                            <label class="control-label">UF Placa<span style="color: red;">*</span></label>
                                            <div>
                                                <select class="form-control" id="ufPlaca" formControlName="ufPlaca" [ngClass]="{'is-invalid': displayMessage.ufPlaca }" >
                                                    <option value="AC">Acre</option>
                                                    <option value="AL">Alagoas</option>
                                                    <option value="AP">Amapá</option>
                                                    <option value="AM">Amazonas</option>
                                                    <option value="BA">Bahia</option>
                                                    <option value="CE">Ceará</option>
                                                    <option value="DF">Distrito Federal</option>
                                                    <option value="ES">Espírito Santo</option>
                                                    <option value="GO">Goiás</option>
                                                    <option value="MA">Maranhão</option>
                                                    <option value="MT">Mato Grosso</option>
                                                    <option value="MS">Mato Grosso do Sul</option>
                                                    <option value="MG">Minas Gerais</option>
                                                    <option value="PA">Pará</option>
                                                    <option value="PB">Paraíba</option>
                                                    <option value="PR">Paraná</option>
                                                    <option value="PE">Pernambuco</option>
                                                    <option value="PI">Piauí</option>
                                                    <option value="RJ">Rio de Janeiro</option>
                                                    <option value="RN">Rio Grande do Norte</option>
                                                    <option value="RS">Rio Grande do Sul</option>
                                                    <option value="RO">Rondônia</option>
                                                    <option value="RR">Roraima</option>
                                                    <option value="SC">Santa Catarina</option>
                                                    <option value="SP">São Paulo</option>
                                                    <option value="SE">Sergipe</option>
                                                    <option value="TO">Tocantins</option>
                                                </select>
                                                <span class="text-danger" *ngIf="displayMessage.ufPlaca">
                                                    <p [innerHTML]="displayMessage.ufPlaca"></p>
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Ano</label>
                                            <div>
                                                <input class="form-control" id="ano" type="number" formControlName="ano" />
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Próprio<span style="color: red;">*</span></label>
                                            <div>
                                                <select class="form-control" id="proprio" formControlName="proprio" [ngClass]="{'is-invalid': displayMessage.proprio }" >
                                                    <option value=true>Sim</option>
                                                    <option value=false>Não</option>
                                                </select>
                                                <span class="text-danger" *ngIf="displayMessage.proprio">
                                                    <p [innerHTML]="displayMessage.proprio"></p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label class="control-label">KM Atual</label>
                                            <div>
                                                <input class="form-control" id="kmAtual" type="number" formControlName="kmAtual" />
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Modelo<span style="color: red;">*</span></label>
                                            <div>
                                                <input class="form-control" id="modelo" type="text" formControlName="modelo" [ngClass]="{'is-invalid': displayMessage.modelo }" />
                                                <span class="text-danger" *ngIf="displayMessage.modelo">
                                                    <p [innerHTML]="displayMessage.modelo"></p>
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Renavam</label>
                                            <div>
                                                <input class="form-control" id="renavam" type="text" formControlName="renavam" />
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-3">
                                            <label class="control-label">Combustível<span style="color: red;">*</span></label>
                                            <div>
                                                <select class="form-control" id="tipoCombustivel" formControlName="tipoCombustivel" [ngClass]="{'is-invalid': displayMessage.tipoCombustivel }" >
                                                    <option value=1>Gasolina</option>
                                                    <option value=2>Álcool</option>
                                                    <option value=3>Diesel</option>
                                                    <option value=4>Flex</option>
                                                    <option value=5>Elétrico</option>
                                                </select>
                                                <span class="text-danger" *ngIf="displayMessage.tipoCombustivel">
                                                    <p [innerHTML]="displayMessage.tipoCombustivel"></p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 20px;">
                            <div class="card">
                                <h5 class="card-header">Foto do Aluno</h5>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="control-label">Foto do Veículo</label>
                                        
                                        <div class="custom-file">
                                            <input type="file" accept="image/jpeg,image/png" class="custom-file-input" id="imagem" formControlName="imagem" (change)="fileChangeEvent($event)">
                                            <label data-browse="Procurar" style="width: 400px" class="custom-file-label"></label>
                                            
                                            <span *ngIf='imagemNome'><br>{{ imagemNome }} <br></span>
                                            
                                            <span class="text-danger" *ngIf="displayMessage.imagem">
                                                <p [innerHTML]="displayMessage.imagem"></p>
                                            </span>
                                        </div>
                                        
                                        <div *ngIf='imagemNome' class="row">
                                            <div class="col col-md-6">
                                                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3" [resizeToWidth]="256" [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false"
                                                [canvasRotation]="canvasRotation" [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
                                                (loadImageFailed)="loadImageFailed()"></image-cropper>
                                            </div>
                                            <div class="col col-md-6">
                                                <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                    
                    <div class="form-group" style="text-align: center;">
                        <input type="submit" [disabled]="!veiculoForm.valid" value="Cadastrar" class="btn btn-success" style="width: 30%;">&nbsp;
                        <a class="btn btn-primary" href="/veiculos/listar-todos">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>